@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
h1 {
    color: #333333c0;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Montserrat','sans-serif';
    text-align: center;
    text-wrap: wrap;
}
h2 {
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Montserrat','sans-serif';
    text-align: center;
    text-wrap: wrap;
}
h5 {
    color: #3f3e3ed8;
    font-size: 1rem;
    font-weight: bold;
}

.container1{
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px #007bff;
    position: relative;
    overflow: hidden;
    max-width: 768px;
    min-height: 480px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;

}


.container1 p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.container1 span{
    font-size: 12px;
}

.container1 a{
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.container1 button{
    background-color: #007bff;
    color: #fff;
    font-size: 12px;
    padding: 12px 45px;
    border: 2px solid #007bff;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}
.container1 button.active{
    border-color: #007bff;
    background-color: transparent;
}

.container1 button.hidden1{
    background-color: transparent;
    border-color: #fff;
}

.container1 button:hover{
    background-color: #4f868c;
    border: #007bff;
    border-radius: 5px;
}

.container1 form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
    
}

.container1 input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 120%;
    outline: none;
    
}

.form-container1{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in{
    left: 0;
    width: 50%;
    z-index: 2;
}

.container1.active .sign-in{
    transform: translateX(100%);
}

.sign-up{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container1.active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}

.toggle-container1{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

.container1.active .toggle-container1{
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle{
    background-color: #007bff;
    height: 100%;
    background: linear-gradient(to right, #4f868c, #007bff);
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.container1.active .toggle{
    transform: translateX(50%);
}

.toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left{
    transform: translateX(-200%);
}

.container1.active .toggle-left{
    transform: translateX(0);
}

.toggle-right{
    right: 0;
    transform: translateX(0);
}

.container1.active .toggle-right{
    transform: translateX(200%);
}


.container1 form input[type="radio"]{
    float: left;
    width: 20px;
    margin-right: 10px;
    margin-top: 4px;
}

.container1 form label{
    float: left;
    width: 200px;
}

/* dropdown menu*/
.acctype {
    appearance: none;
    background-color: #ffffffd7;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    font-size: 40px;
    line-height: 1;
    width: 100%;
    cursor: pointer;
    outline: none;
  }
  
  .acctype:focus {
    box-shadow: 0 0 2px 1px rgba(0, 145, 255, 0.5);
  }
  
  .acctype option {
    padding: 15px;
    background-color: #fff;
    color: #333;
    font-size: 12px;
    line-height: 1.5;
  }
  
  .acctype option:checked {
    background-color: #e5e5e5;
  }
  .custom-select {
    appearance: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    font-size: 12px;
    line-height: 1.5;
    width: 100%;
    cursor: pointer;
    outline: none;
  }
  
  .custom-select:focus {
    box-shadow: 0 0 2px 1px rgba(0, 145, 255, 0.5);
  }
  
  .custom-select option {
    padding: 8px;
    background-color: #fff;
    color: #333;
    font-size: 12px;
    line-height: 1.5;
  }
  
  .custom-select option:checked {
    background-color: #e5e5e5;
  }

  #hero{
    background-color: #4f868c;
    height: 70vh;
    width: 100%;
    background-size: cover;
    background-position: top 30%, right 0;
    padding: 0 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.background-image{
    animation: moveBackground 2s linear infinite;
    position: absolute;
}
#hero h4{
    padding-bottom: 20px;
    font-size: 25px;

}
#hero h1{
    color: yellow;
    font-size: 50px;

}

.animated-icon {
    transition: transform 0.3s ease; 
}

.animated-icon:hover {
    transform: rotate(20deg); 
}
 /* Styles for the star rating */
.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    color:orange;
  }

  .rating span {
    font-size: 30px;
    padding: 0 5px;
    cursor: pointer;
  }

  .rating span:hover,
  .rating span:hover ~ span {
    color: orange;
  }

  .checked{
    color: rgb(162, 161, 158);
  }

  .popup-message {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
    z-index: 1000;
  }