{% extends 'main.html' %}
{% load static %}
{% block content %}


<div class='row'>
    <div class='col-lg-6'>
        <div class='box-element' id='form-wrapper'>
        
            <form id='form'>
                <div id="shippig-info">
                    <hr>
                    <p>Billing Information:</p>
                    <hr>
                    <div class="form-field">
                        <input class="form_control" type="text" name="address" placeholder="Name on card..">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="city" placeholder="Card Number">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="ext" name="state" placeholder="Expiry Date">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="country" placeholder="CVV code">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="country" placeholder="Address 1">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="country" placeholder="Address 2">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="country" placeholder="State">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="country" placeholder="City">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="country" placeholder="Zip code">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="country" placeholder="Country">
                    </div>
                </div>
                <div class='row'>
                    <div class='col-lg-6'>
                        <div class='box-element' id='form-wrapper'>
                            <form method="POST" action="{% url 'order_process' %}">
                                {% csrf_token %}
                        </div>
                    </div>
                </div>
                                
                <hr>
                <button  type="submit" class="btn btn-success btn-block">SUBMIT</button>
            </form>
            </form>
        </div>
    </div>
</div>
{% endblock content %}