{% extends 'main.html' %}
{% load static %}
{% load custom_filters %}



{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="box-element">

            <a  class="btn btn-outline-dark" href="{% url 'home' %}">&#x2190; Continue Shopping</a>

            <br>
            <br>
            <table class="table">
                <tr>
                    <th><h5>Items: <strong>{{cart|length}}</strong></h5></th>
                    <th><h5>Total:<strong> UGX {{ totals }}</strong></h5></th>
                    <th>
                        {% if user.is_authenticated %}
                        <a  style="float:right; margin:5px;" class="btn btn-success" href="{% url 'checkout' %}">Checkout</a>
                        {%else%}
                        <a  style="float:right; margin:5px;" class="btn btn-success" href="{% url 'login' %}">Checkout</a>
                        {%endif%}
                    </th>
                </tr>
            </table>

        </div>
        <br>
        <div class="box-element">
            <div class="cart-row">
                <div style="flex:0"><strong>Image</strong></div>
                <div style="flex:1"><strong>Item</strong></div>
                <div style="flex:1"><strong>Quantity</strong></div>
                <div style="flex:1"><strong>Price</strong></div>
                <div style="flex:1"><strong>Sub-Total</strong></div>
                <div style="flex:1"><strong></strong></div>
            </div>
{% for product in cart_products %}
            <div class="cart-row">
                <div><img class="product_preview" src="{{product.imageURL}}"></div>
                <style>
                    .product_preview {
                        width: 50px;
                        height:50px;
                        border-radius: 50%;
                    }
                </style>
                <div style="flex:1">{{ product.name }}</div>
                <div style="flex:1">
                {% for key, value in quantities.items %}
                {% if key == product.id|slugify %}  <!--slugify turns into an integer comment -->
                    {{ value }}
                {% endif %}
                {% endfor %}
                    <br>
                </div>
                
                
                    <div style="flex:1">UGX {{ product.price }}</div>
                <div style="flex:1">
                    {% for key, value in quantities.items %}
                    {% if key == product.id|slugify %}  <!--slugify turns into an integer comment -->
                    {{ product.price|multiply:value }}
                    {% endif %}
                    {% endfor %}</div>
                <div style="flex:1"><button style="background: transparent;border: transparent; font-weight:normal; font-size: 16px; color: red;" type="button" data-index="{{product.id}}" class="btn-close delete-product" aria-label="Close">X</button></div>
            </div>
{% endfor %}
        </div>
    </div>
</div>
<script>
    // delete product
    $(document).on('click','.delete-product', function(e){
    e.preventDefault();
    //var productid = $(this).data('index');
    $.ajax({
        type: 'POST',
        url: '{% url 'cart_delete' %}',
        data: {
        product_id: $(this).data('index'),
        csrfmiddlewaretoken: '{{ csrf_token }}',
        action: 'post'
        },
        success: function(json){
            location.reload();
        },
        error: function(xhr, errmsg, err){

        }
    });
})
</script>

{% endblock content %}