<!-- add_product.html defines a form for adding a product
It's inserted into a larger template named 'main.html' -->

{% extends 'main.html' %}
{% block content %}
<div class="row">
  <div class="col-md-3">
    <a class="btn btn-warning" href="{% url 'home' %}">&#8592; Back</a>
    <hr>
    <h3 style="text-align: center"><span>Add Product</span></h3>
  </div>
</div>
<form method="post" enctype="multipart/form-data" action="{% url 'add_product' %}"><br><br>
    {% csrf_token %}
    {{ form.as_p}}
    <button type="submit" class="btn btn-primary">Add</button>
  </form>
<br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}