<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
	<title>AMAZON</title>
  <link rel="icon" href="{% static 'img/favicon.ico' %}">

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  <meta charset="UTF-8">
    
  <link rel="stylesheet" href="styles.css"> <!-- Link to CSS file -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"> <!-- Font Awesome for icons -->
  <script type="text/javascript">
		var user = '{{request.user}}'

		function getToken(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie !== '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = cookies[i].trim();
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
		var csrftoken = getToken('csrftoken')

		function getCookie(name) {
		    // Split cookie string and get all individual name=value pairs in an array
		    var cookieArr = document.cookie.split(";");

		    // Loop through the array elements
		    for(var i = 0; i < cookieArr.length; i++) {
		        var cookiePair = cookieArr[i].split("=");

		        /* Removing whitespace at the beginning of the cookie name
		        and compare it with the given string */
		        if(name == cookiePair[0].trim()) {
		            // Decode the cookie value and return
		            return decodeURIComponent(cookiePair[1]);
		        }
		    }

		    // Return null if not found
		    return null;
		}
		var cart = JSON.parse(getCookie('cart'))

		if (cart == undefined){
			cart = {}
			console.log('Cart Created!', cart)
			document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
		}
		console.log('Cart:', cart)
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script></head>
  {% include "message.html" %}

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="{% url 'home' %}">AMAZON</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'about' %}">About us <span class="sr-only">(current)</span></a>
        </li>
      
      
        <li class="nav-item active">
          {% if user.is_authenticated %}          
          <li class="nav-item">
            <img src="{{request.user.profile.profile_pic.url}}" class="nav-link dropdown-toggle show user-profile my-lg-0" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="true">
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a class="dropdown-item"><h2>Hi, {{ user.username }}! </h2></a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="{% url 'update_info' %}">Edit Profile<span class="sr-only">(current)</span></a></li>
              <li><a class="dropdown-item" href="{% url 'home' %}">My Orders</a></li>
              <li><a class="dropdown-item" href="{% url 'settings' %}">Settings</a></li>
              {% if user.is_staff %}
              <li><a class="dropdown-item" href="{% url 'add_product' %}">Add Product</a></li>
              <li><a class="dropdown-item" href="{% url 'my_products' %}">My Products</a></li>              
              {% endif %}
              <li><hr class="dropdown-divider" /></li>
              <div></div>
              <li><div><a class="dropdown-item" href="{% url 'logout' %}"><img src="{% static 'img/logout.png' %}" class="d-grid"><strong>Logout</strong></b></a></div></li>
            </ul>
          </li>
          {% endif %}
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle show" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">Category</a>
          
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'home' %}">All Products</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="{% url 'category' 'Toys' %}">Infants</a></li>
              <li><a class="dropdown-item" href="{% url 'category' 'Shoes' %}">shoes</a></li>
              <li><a class="dropdown-item" href="{% url 'category' 'Shirts' %}">Shirts</a></li>
              <li><a class="dropdown-item" href="{% url 'category' 'Watches' %}">Watches</a></li>
              <li><a class="dropdown-item" href="{% url 'category' 'Bags' %}">Bags</a></li>
              <li><a class="dropdown-item" href="{% url 'category' 'Dresses' %}">Dresses</a></li>
              <li><a class="dropdown-item" href="{% url 'category' 'Trousers' %}">Trousers</a></li>
           
          </ul>
        </li>
      </ul>
      <div class="form-inline my-2 my-lg-0">
        {% if not user.is_authenticated %}
        <a href="{% url 'login' %}"class="btn btn-warning">Login</a>
        {% endif %}
           <a href="{% url 'cart_summary' %}">
              <img  id="cart-icon" src="{% static 'img/cart.png' %}">
          </a>
          <p id="cart_quantity" class="fil" style="background-color: red; border-radius: 50%; width: 25px; height: 25px; text-align: center; color: white; margin-top: 2px;">
            {{ cart|length }}</p>
          

      </div>
    </div>
  </nav>

   <div class="container">
          <br>
          {% block content %}


          {% endblock content %}
       </div>
    <br/>
    <br/>
    <footer class="py-5 bg-dark">
      <div class="icon-container">
        <h1>Contact us<h1>
              <a href="https://facebook.com/amazon" target="_blank" rel="noopener noreferrer">
                  <i class="fab fa-facebook animated-icon fa-2x"></i>
              </a>
              <a href="https://twitter.com/amazon" target="_blank" rel="noopener noreferrer">
                  <i class="fab fa-twitter animated-icon fa-2x"></i>
              </a>
              <a href="https://instagram.com/amazon" target="_blank" rel="noopener noreferrer">
                  <i class="fab fa-instagram animated-icon fa-2x"></i>
              </a>
              <a href="https://linkedin.com/company/amazon" target="_blank" rel="noopener noreferrer">
                  <i class="fab fa-linkedin animated-icon fa-2x"></i>
              </a>
          </p>
        </div>
        <div class="container">
          <p class="m-0 text-center text-light">
              © 2024 Amazon Website
      </div>
  </footer>
  

  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <script>
    //check if add to cart is pressed
$(document).on('click', '#add-cart', function(e){
    //e.preventDefault();
    $.ajax({
      type: 'POST',
      url: '{% url 'cart_add' %}',
      data: {
        product_id: $('#add-cart').val(),
        product_qty: $('#qty-cart option:selected').text(),
        csrfmiddlewaretoken: '{{ csrf_token }}',
        action: 'post'
      },
      success: function(json){
        document.getElementById("cart_quantity").textContent = json.qty;
        window.location.reload();
      },
      error: function(xhr, errmsg, err){
  
      }
    });
  
  });
</script>
</body>
</html>
