{% extends 'main.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Your head content -->
</head>
<body>
    <!-- Your existing content -->
    {% if review_submitted %}
        <div class="alert alert-success" role="alert">
            Your review has been successfully submitted!
        </div>
    {% endif %}
</body>
</html>
{% endblock %}
