{% load static %}
<html>    

    <title>REPORT</title>
    <link rel="icon" href="{% static 'img/favicon.ico' %}">

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
<head>
</head>
<br>
{% if user.is_superuser %}
<a class="print-btn" href="{% url 'generate_pdf' %}">PRINT</a>
    <h1>User Report</h1>
    <div class="table-container">
    <table>
        <thead>
            <tr>
                <th class="cell head">USERNAME</th>
                <th class="cell head">EMAIL</th>
                <th class="cell head">CONTACT</th>
                <th class="cell head">ADDRESS</th>
                <th class="cell head">ACCOUNT TYPE</th>
                <th class="cell head">JOINING DATE</th>
            </tr>
        </thead>
        <tbody>
            
            {% for user in users %}
            
                <tr>
                    <td class="cell">{{ user.user.username}}</td>
                    <td class="cell">{{ user.user.email }}</td>
                    <td class="cell">{{ user.contact }}</td>
                    <td class="cell">{{ user.address }}</td>
                    <td class="cell">
                        {% if user.user.is_staff %}
                        BUSINESS
                        {% else %}
                        CUSTOMMER
                        {% endif%}
                    </td>
                    <td class="cell">{{ user.user.date_joined}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    <style>
        .print-btn {
            text-decoration: none;
            background-color: #007bff;
            color: white;
            text-align: center;
            padding: 12px;
            padding-left: 20px;
            padding-right: 20px;
            border-color: #007bff;
            border-radius: 30%;
        }
        .table-container {
            width: 80%;
            margin: 0;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        @page {
            size: landscape;
        }
        body {
            font-family: Arial, Helvetica, sans-serif;
            font-size: small;
        }
        td.cell {
            width: 20%;
            padding: 7px;
            border: 1px solid black;

        }
        th.head {
            background-color: #007bff;
            color: white;
            width: 10%; 
            padding: 7px;
            border: 1px solid black;
        }


    </style>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% else %}
<br><br><br><br><br><br>
Sorry! You are not allowed to view this page
<br><br><br><br><br><br><br><br><br><br>
{% endif %}

</html>