<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Form</title>
</head>
<body>
    <form method="GET" action="{% url 'search' %}">
        {% csrf_token %}
        {{ form.as_p }}
        
    </form>
</body>
</html>
