{% extends 'main.html' %}
{% block content %}
<div class="row">
  <div class="col-md-3">
    <a class="btn btn-warning" href="{% url 'home' %}">&#8592; Back</a>
    <hr>
    <h3 style="text-align: center"><span>Update Password</span></h3>
    <hr>
  </div>
</div>
<form method="POST" enctype="multipart/form-data" action="{% url 'update_password' %}"><br><br>
    {% csrf_token %}
    {{ form.as_p}}
    <br><br><br>
  <button type="submit" class="btn btn-primary">Update</button>
  <br><br>

</form>


{% endblock %}