{% extends 'main.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <title>Amazon</title>

    <style>

      .box-element{
        width: 1000px;
      }
      .thumbnail{
        width: 500px;
        height: 500px;
         
      }
      .form-control{
        
        height:120px;
        resize:vertical;
        
        
      }
      .form-control::placeholder{
        position: absolute;
        top:0;
        left:0;
      }
      
      .review{
        text-align:left;
        font-size:1.5rem;
      }
        
        
      
    </style>
</head>
<body>
  <!-- button to go back to homepage-->
  <a class="btn btn-warning" href="{% url 'home' %}">&#8592; Back</a>
    <h1>{{ product.name }}</h1>
    <!-- display of the image of the product nd description -->
    <div class="col-lg-4">
			
			<div class="box-element">
        <img class="thumbnail" src="{{product.imageURL}}">
        <p><a style="float: right; font-size: larger;" href="{% url 'business_profile' product.id%}"><i>being sold by {{product.seller}}</i></p></a>
        <br>
				<hr>
        
      <div class="container">
        <!--product description-->
        <h4>Description:</h4>
        {% if product.description == None%}
        <p>There's no description for this product</p>        
        {% else %}
        <p>{{ product.description }}</p>
        {% endif %}
        
      <!--choose the quantity-->
        <div class="col-md-2"><h4>Quantity</h4>
        <select id="qty-cart" class="form-select small-input update-cart" aria-label="Default select example">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
        </select><br></div>
              <style>.small-input {float: right; width: 60px; padding: .375rem .5rem; font-size: 0.875rem; }</style></div>

				<button type="button" value="{{product.id}}" id="add-cart" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
        
				<h4 style="float: right; font-size: 30px;" id="totalprice" value="{{product.price}}"><strong>Shs {{product.price}}</strong></h4>
        <br><br><br>
        <h4> Rating:</h4>
  <!-- Display 5 static stars -->
<div class="rating">
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star checked"></span>
  
</div>
 
<script>
  // JavaScript for star rating functionality
  document.addEventListener("DOMContentLoaded", function () {
    const stars = document.querySelectorAll(".rating span");
    const ratingInput = document.getElementById("selected_rating");


    stars.forEach(function (star, index) {
      star.addEventListener("click", function () {
        // Calculate the rating based on the clicked star's index
        const rating = index + 1;

        // Update the UI to reflect the selected rating
        for (let i = 0; i < stars.length; i++) {
          if (i < rating) {
            stars[i].classList.add("checked");
          } else {
            stars[i].classList.remove("checked");
          }
        };

        ratingInput.value = rating;
      });
      star.addEventListener("mouseover", function () {
        const rating = index + 1;
        for (let i = 0; i < stars.length; i++) {
          if (i < rating) {
            stars[i].classList.add("hovered");
          } else {
            stars[i].classList.remove("hovered");
          }
        }
      });

      // Clear the hover effect when mouse leaves the stars
      star.addEventListener("mouseleave", function () {
        stars.forEach(function (s, i) {
          s.classList.remove("hovered");
       });
    });
  });
});

  document.addEventListener("DOMContentLoaded", function () {
    const form = document.querySelector("form");
    form.addEventListener("submit", function (event) {
      const reviewInput = document.querySelector(".form-control");
      if (reviewInput.value.trim() !== "") { // Check if review is not empty
        const popup = document.querySelector(".popup-message");
        popup.style.display = "block";
        setTimeout(function () {
          popup.style.display = "none";
        }, 15000);
      }
    });
  });
</script>

<div class="popup-message">
  Your review has been successfully submitted!
</div>


<input type="hidden" id="selected_rating" name="selected_rating" value="0">


<h4 class="review">Reviews</h4>
<ul>
  {% for review in reviews %}
  <li>
    <p>{{ review.comment }}</p>
    <p>Rating: {{ review.rate }}</p>
    <p>By: {{ review.user.username }}</p>
  </li>
  {% endfor %}
</ul>

<!--Add review-->
<form method="post">
  {% csrf_token %}
  <input class = "form-control" type="text" placeholder="Add your review" style = "length: 100%;">
  {{ review_form.as_p }}
  <br><br>
  <button type="submit">Submit Review</button>
</form>
</div>
</div>
</body>
</html>
  <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
{% endblock %}
        

         
 